body {
    background-color:white;
}

rect {
    fill: lightblue;
    stroke: black;
}

.header_section {
    border:none;
    width: 1400px;
    height: 50px;
    margin:auto;
}

.header_text {
    position: relative;
    color: red;
    overflow: hidden;
    font-size: 42px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
    .header_text:after {
        content: "";
        position: absolute;
        width: 90%;
        top: 50%;
        margin-left: 1%;
        border-top: 3px solid red;
    }

.message_section {
    border: none;
    width: 1400px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 6%;
    transform: translate(-50%, 5%);
}

.message_text {
    position: relative;
    color: black;
    overflow: hidden;
    font-size: 16px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    padding-top: 1em;
}

.nav_section {
    border: none;
    width: 1400px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 50%);
    align-content:end;
    text-align:right;
}

.legend_section {
    border: none;
    width: 1400px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 17%;
    transform: translate(-50%, 50%);
    align-content: end;
    text-align: right;
}

.viz_section {
    border: none;
    width: 1400px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -47%);
    align-content: center;
}

.footer_section {
    border: none;
    width: 1400px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 86%;
    transform: translate(-50%, -86%);
}

.footer_text {
    position: relative;
    color: black;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 0.1em;
    margin: auto;
}

hr.style1 {
    border-top: 3px single #8c8b8b;
}

hr.style2 {
    border-top: 3px double #8c8b8b;
}

.chart {
    fill: red;
}

#tooltip {
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 60px;
    height: 40px;
    background: white;
    border: 0px;
}

.box {
    width: 120px;
    height: 30px;
    border: 1px solid #999;
    font-size: 18px;
    color: #1c87c9;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
}